<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Bridge.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>31692DE61D2B8DF500676569</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31692DF41D2B8F2C00676569</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31692E0E1D2B91C200676569</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>319BC5511D1C0F2A00A3C8C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
